<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Template</title>
</head>
<body>
    <h1>hello everybody !</h1>
    <!-- Send code to nodejs -->
    <% 
        console.log('Hello ch19');
        console.log('bla bla');
    %>

    <!-- safe-print to html -->
    <%= 5+9  %>
    <%= '<p> 5+9= </p>'  %>

    <!-- direct-print to html -->
    <%- '<p> 5+9 = </p>'   %> 
    <p> 5+9=  <%= 5+9  %> </p>

    <!-- comment with ejs -->
    <%# this is comment   %>
    



</body>
</html>